*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	  font-family: var(--fuente-principal);
    scroll-behavior: smooth;
}

:root{
	--fuente-principal: "Inter";
	--color-principal: rgba(28, 154, 192, 1);
	--color-principalhover: rgb(23, 129, 161);
  --color-hf: rgba(2, 32, 40, 1);
	--color-light: #fff;
  --titulo: #03045e;
}

body{
	background-color: white;
}

/* CODIGO PC */

/* Header y Navegacion */

.nav-bar{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: absolute;
    background-color: rgba(2, 32, 40, 1);
    padding: 12px 20px;
	z-index: 1;
}

.logo img{
    width: 60px;
	margin-top: 15px;
}

.logo a{
    text-decoration: none;
}

.menu{
    display: flex;
}

.menu li{
    padding-left: 30px;
}

.menu li a{
    padding-bottom: 5px;
    display: inline-block;
    text-decoration: none;
    color: var(--color-light);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-weight: 900;
}

/* El submenú será visible si haces hover en "Servicios" o en el submenú */
#servi:hover + .serv-submenu,
.serv-submenu:hover {
  display: flex;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#page-item{
	color:var(--color-principal);
}

.menu li a:hover{
	color:var(--color-principal);
    animation: jello-horizontal 0.9s both;
}

.serv-submenu{
	display: none;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	background-color: rgba(0, 22, 46, .5);
	padding: 5px;
	list-style: none;
	top: 100%;
}

.sub-items{
	margin-left: -25px;
}
.redes{
	display: flex;
	gap: 1em;
}

.brands{
	width: 1.2em;
	height: 1.2em;
	color: var(--color-light);
}

.brands:hover{
	width: 1.35em;
	height: 1.35em;
	transition: all 0.6s ease-in;
	color: var(--color-principal);
	cursor: pointer;
}

.abrir-menu{
    position: absolute;
    color: var(--color-light);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.abrir-menu{
    top: 10px;
    right: 20px;
}

#check{
    display: none;
}




.inicio{
  width: 100%;
  height: 100vh;
  background-image: url(/assets/img/qsomos.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
}

.capaopaca{
	width: 100%;
  height: 100%;
  background-color: rgba(0, 22, 46, .5);
  position: absolute;
  }

 
.content-inicio{
  width: 80%;
  justify-content: center;
  position: absolute;
  top: 250px;
  left: 12%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.slogan{
  font-weight: 900;
  font-size: 50px;
  text-transform: uppercase;
  }

.btn-conocenos{
  padding: 20px 25px;
  background-color:  var(--color-principal);
  text-decoration: none;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 19px;
}

.btn-conocenos:hover{
  background-color: var(--color-principalhover);
}

/*PARRAFO DE QUIENES SOMOS*/
.quienes-somos{
  width: 100%;
  height: 70vh;
  display: flex;
}
.quienes-somos-content{
  width: 80%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.img-quienes-somos{
  width: 100%;
  height: 100vh;
  background-image: url(/assets/img/quienessomos.png);
  background-repeat: no-repeat;
  margin-top: 80px;
  margin-left: 30px;
}

.titulo-quienes-somos{
  margin-top: 80px;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--titulo);
}

#conocenos{
  text-decoration: none;
  color: black;
}

.contenido-quienes-somos{
  margin-right: 30px;
  line-height: 2.0;
  padding-right: 60px;
  font-weight: 250;
  font-size: 19px;
}

/*PARRAFO DE MISION Y VISION*/
.mision-vision{
  width: 100%;
  height: 70vh;
  display: flex;

}
.mision-vision-content{
  width: 60%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 100px;
}

.img-mision-vision{
  width: 45%;
  height: 100vh;
  background-image: url(/assets/img/quienessomos2.png);
  background-repeat: no-repeat;
  margin-top: 250px;
  margin-left: 800px;
  position: absolute;
}

.titulo-mision{
  margin-top: 250px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--titulo);
}

.titulo-vision{
  margin-top: 50px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--titulo);
}

.contenido-mision-vision{
  margin-right: 250px;
  line-height: 2.0;
  padding-right: 60px;
  font-weight: 270;
  font-size: 17px;
}

/*PARRAFO DE VALORES*/
.valores{
  width: 100%;
  height: 70vh;
  display: flex;
  margin-top: 350px;
  
}
.valores-content{
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}

.img-valores{
  width: 100%;
  height: 100vh;
  background-image: url(/assets/img/quienessomos3.jpg);
  background-repeat: no-repeat;
  margin-top: 80px;
  margin-left: 30px;
}

.titulo-valores{
  margin-top: 80px;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--titulo);
}
.lista-valores{
  line-height: 2.0;
  padding-right: 60px;
  font-weight: 250;
  font-size: 20px;
}

/* Estilos para el footer */
.footer {
  background-color: var(--color-hf);
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-logo {
  margin-bottom: 10px;
}

.footer-logo-image {
  max-width: 150px; /* Ajusta el tamaño del logo según tus necesidades */
  height: auto;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section p {
  margin: 5px 0;
}

.socials {
  list-style-type: none;
  padding: 0;
}

.socials li {
  display: inline;
  margin: 0 10px;
}

.socials a {
  color: white;
  text-decoration: none;
}

.socials a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
}



/* ANIMACIONES */
@keyframes slide-in-top {
	0% {
	  transform: translateY(-1000px);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
  }