*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: var(--fuente-principal);
}

:root{
	--fuente-principal: "Inter";
	--color-principal: rgba(28, 154, 192, 1);
	--color-principalhover: rgb(23, 129, 161);
    --color-hf: rgba(2, 32, 40, 1);
	--color-light: #fff;
}

body{
	background-color: #4f4f4f;
}

/* CODIGO PC */

/* Header y Navegacion */

.nav-bar{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: absolute;
    top: 0;
    background-color: rgba(2, 32, 40, 1);
    padding: 12px 20px;
	z-index: 1;
}

.logo img{
    width: 60px;
	margin-top: 15px;
}

.logo a{
    text-decoration: none;
}

.menu{
    display: flex;
}

.menu li{
    padding-left: 30px;
	position: relative;
}

.menu li a{
    padding-bottom: 5px;
    display: inline-block;
    text-decoration: none;
    color: var(--color-light);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-weight: 900;
}

/* El submenú será visible si haces hover en "Servicios" o en el submenú */
#servi:hover + .serv-submenu,
.serv-submenu:hover {
  display: flex;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#page-item{
	color:var(--color-principal);
}

.menu li a:hover{
	color:var(--color-principal);
}

.serv-submenu{
	display: none;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	background-color: rgba(0, 22, 46, .5);
	padding: 5px;
	list-style: none;
	top: 100%;
}

.sub-items{
	margin-left: -25px;
}


.redes{
	display: flex;
	gap: 1em;
}

.brands{
	width: 1.2em;
	height: 1.2em;
	color: var(--color-light);
}

.brands:hover{
	width: 1.35em;
	height: 1.35em;
	transition: all 0.6s ease-in;
	color: var(--color-principal);
	cursor: pointer;
}

.abrir-menu{
    position: absolute;
    color: var(--color-light);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.abrir-menu{
    top: 10px;
    right: 20px;
}

#check{
    display: none;
}

/* Estilos básicos */

.subtit {
    font-size: 2em;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

/* Estructura de grid */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    color: white;
}

.cardimg {
    width: 100%;
    min-height: 260px;
    background-size: cover;
	background-position: center;
}

.insta{
	background-image: url(/assets/img/insta.png);
}

.mante{
	background-image: url(/assets/img/mante.png);
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin-bottom: 10px;
}

.card-content p {
    font-size: 14px;
    margin-bottom: 20px;
}

.btn {
    background-color: #00b7f1;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #0095c9;
}

/* Estilos para el footer */
.footer {
    background-color: var(--color-hf);
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-logo {
    margin-bottom: 10px;
}

.footer-logo-image {
    max-width: 150px; /* Ajusta el tamaño del logo según tus necesidades */
    height: auto;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p {
    margin: 5px 0;
}

.socials {
    list-style-type: none;
    padding: 0;
}

.socials li {
    display: inline;
    margin: 0 10px;
}

.socials a {
    color: white;
    text-decoration: none;
}

.socials a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
}







/* ANIMACIONES */

